@import url("../../index.css");
.textContainer {
  display: flex;
  width: 100%;
  gap: 10px;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  height: 432px;
}

.areaG:empty::before {
  content: "დაიწყე წერა...";
  color: #aaa;
  pointer-events: none;
}
.areaE:empty::before {
  content: "Start writing...";
  color: #aaa;
  pointer-events: none;
}
.originalText,
.changedText {
  flex: 1;
  max-width: 50%;
}

.originalText div,
.changedText div {
  background-color: #f0f7ff;
  border-radius: 8px;
  padding: 12px;
  border: none;
  height: 432px;
}
.textSvg {
  display: flex;
  align-items: center;
}
.textSvg svg {
  width: 32px;
  height: 32px;
}

.removed {
  color: white;
  background-color: var(--darkRed);
}
.added {
  color: white;
  background-color: var(--green);
}

.textareaLike {
  border: 1px solid #ccc;
  padding: 8px;
  min-height: 100px;
  white-space: pre-wrap;
  outline: none;
}

.compareButton {
  width: 142px;
  padding: 10px 16px 10px 16px;
  color: white;
  background-color: #4571e4;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.buttonCont {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
@media (max-width: 760px) {
  .textContainer {
    flex-direction: column;
    margin-top: 30px;
    gap: 16px;
  }
  .originalText,
  .changedText {
    max-width: 100%;
    width: 100%;
    height: 190px;
  }
  .originalText div,
  .changedText div {
    position: relative;
    height: 100%;
  }
  .textSvg svg {
    margin-top: 22px;
    transform: rotate(90deg) !important;
  }
  .compareButton {
    margin-top: 10px;
  }
}
